:root {
	--containerWidth: 600px;
}

html, body {
	margin: 0;
	padding: 0;
}

#australiaImage {
	position: absolute;
	width: var(--containerWidth);
}

#coinImage {
	/* background-color: red; */
	width: calc(var(--containerWidth) * 0.3);
	position: absolute;
	animation: payment 5s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes payment {
    0%   {
			transform: translate3d(calc(var(--containerWidth) * 0.17),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
			opacity: 1;
		 }
	10%   {
			transform: translate3d(calc(var(--containerWidth) * 0.17),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
			opacity: 1;
	}
	40%  {
			transform: translate3d(calc(var(--containerWidth) * 0.34),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
			opacity: 1;
	}
	45%  {
		transform: translate3d(calc(var(--containerWidth) * 0.34),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
		opacity: 1;
	}
    70%  {
			transform: translate3d(calc(var(--containerWidth) * 0.5),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
			opacity: 0;
         }
    90% {
			transform: translate3d(calc(var(--containerWidth) * 0.1),calc(var(--containerWidth) * 0.4),0px) scale(0.3);
			opacity: 0; 
		 }
	100%   {
			transform: translate3d(calc(var(--containerWidth) * 0.17),calc(var(--containerWidth) * 0.4),0px) scale(0.3); 
			opacity: 1;
	}
}
