@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter');
}

:root {
	--backgroundColour: rgb(60, 126, 211);
	--maxLine: rgb(154, 185, 243);
	--almostLine: rgb(20, 168, 119);
	--nonAverageLine: rgb(85, 175, 90);
	--averageLine: rgb(236, 206, 71);
	--floorLine: rgb(233, 35, 68);
	--povertyLine: rgb(177, 19, 124);
	--semitransparent: rgba(255, 255, 255, 0.123);
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inter;
	/* overflow: hidden; */
}

input[type="range"] {
	transform: rotate(270deg);
}