:root {
	--containerWidth: 1000px;
}

html, body {
	margin: 0;
	padding: 0;
}

/* div {
	width: 1000px;
} */

img {
	/* -webkit-user-drag: auto; */
	position: absolute;
	width: var(--containerWidth);
}

#slider {
	cursor: grab;
}

#slider2 {
	cursor: not-allowed;
}