header {
	/*background-color: red;*/
}

.info > .ptag {
	/*background-color: red;*/
	width: 80vw;
}

blockquote {
	/*border:solid red 5px;*/
	width: 60vw;
}

#webmenu {
	width: 93vw;
}

#webmenu > div > .ptag > a {
	font-size: 1.3vw;
}

header > a {
	margin-left: 1.1vw;
}

header > a > img {
	margin-right: 1vw;
}