/*GENERAL NOTES
.ptag is used instead of the p tag because if you just use the p tag then it becomes easily readable by the computer and suggests reader mode on mobile

*/
@font-face {
	font-family: 'Ebrima';
	src: url('fonts/ebrima.ttf');
}

@font-face {
	font-family: 'Yu Gothic';
	src: url('fonts/YuGothL.ttc');
}

@font-face {
	font-family: 'Palanquin Dark';
	src: url('fonts/PalanquinDark-Regular.ttf');
}

@font-face {
	font-family: 'Fugaz One';
	src: url('fonts/FugazOne-Regular.ttf');
}

@font-face {
	font-family: 'Vidaloka';
	src: url('fonts/Vidaloka-Regular.ttf');
}

@font-face {
	font-family: 'Microsoft Yi Baiti';
	src: url('fonts/msyi.ttf');
}

@font-face {
	font-family: 'Adobe Garamond Pro';
	src: url('fonts/AGaramondPro-Italic.otf');
}

/*variable declarations*/
:root {
	--mainBackground: #f5f5f5;
	--mainIconColour: #cecece;
	--hoverColour: #f97e6b;
	--offBlack: #272727;
	--widthWithSidebar: max(60vw, calc(100vw - 500px));
	--widthWithoutSidebar: 100vw;
	--sidebarDuration: 0.3s;
	--bodyWidth: var(--widthWithoutSidebar);
	/* --colwidth: 24%;
	--colspacing:40px;
	--articlewidth:800px; */
	--headerHeight:50px;
	--lightBorder: 1px solid rgba(255, 255, 255, 0.166);
	--leftMargin: calc( 0.08 * var(--bodyWidth) );
	--rightMargin: calc( 0.30 * var(--bodyWidth) );
}


/* width */
::-webkit-scrollbar {
	width: 8px;
	background: rgba(167, 130, 130, 0); 
}
  
/* Track */
::-webkit-scrollbar-track {
	background: var(--mainBackground); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: #d9e8f5; 
	border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(182, 182, 182); 
}






html, body {
	top:0px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	background-color: var(--mainBackground);
}

::selection {
	color:#8fe0dd;
	background-color: #40a3d1;
}

a {
	text-decoration: none;
	color:inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
}

h5 {
	margin: 0px;
}

input {
	border-radius: 100px;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
	width: 100%;
}

p, label {
	font-family: 'Karla';
}


#globalContainer {
	width: 100vw;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--mainBackground);
	overflow-x: hidden;
	overflow-y: hidden;
}

#basicIncomeContainer {
	position: absolute;
	top: var(--headerHeight);
	height: calc(100% - var(--headerHeight));
	width: var(--bodyWidth);
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all var(--sidebarDuration);
	scroll-padding-top: 30px;
}

#sidePanel {
	position: fixed;
	top: 0px;
	right: calc( -1 * min(100vh,500px) );
	height: 100%;
	max-width: 500px;
	width: 40%;
	border: 0px solid rgba(0, 0, 0, 0);
	transition: all var(--sidebarDuration);
}

 
.invisible {
	opacity:0;
	transition: opacity 0.2s;
	pointer-events: none;
}

.visible {
	opacity: 1;
	transition: opacity 0.2s;
	pointer-events: auto;
}

.mob {
	display: none;
}

header.web {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

header.mob {
	background-color: #efefef;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: 'Palanquin Dark SemiBold', sans-serif;
	color: #a7aaab;
	font-size: clamp(10px,8vw,35px);
}

header.mob > div {
	flex-grow: 1;
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

header.mob > div:first-child {
	border-right: solid 1px #e9e9e9;
}


header {
	background-color: #f5f5f5;
	border-bottom: 1px #e9e9e9 solid;
	position: fixed;
	left: 0px;
	width: var(--bodyWidth);
	top: 0px;
	height: var(--headerHeight);
	z-index: 1;
	display: block;
	transition: all var(--sidebarDuration);
} 

header > div {
	height: var(--headerHeight);
	overflow: hidden;
	display: flex;
    align-items: center;
}

header > div > a {
	font-size: 14px;
	color: #a9a9a9;
	font-family: 'Ebrima', sans-serif;
	letter-spacing: 0.5px;
	margin-left: 15px;
}

header > div > a > img {
	background-color: #cecece;
	transition: background-color 0.1s;
	margin-right: 15px;
}

header > div > a > img:hover {
	background-color: #fa9551;
	transition: background-color 0.25s;
} 

#hamburger {
	flex-shrink: 0;
	transition: background-color 0.1s;
	cursor: pointer;
	fill: var(--mainIconColour);
	position: relative;
	top: 6px;
	left: 8px;
	height: 40px;
	width: 40px;
}

#hamburger:hover {
	fill: var(--hoverColour);
}

#nav, #outercontact {
	position: fixed;
	background-image:         linear-gradient(188deg, #d9bede, #9cbcfe, #70d4c8); 
	border-radius: 10px;
	width: calc(var(--bodyWidth) - 50px);
	/* height: calc(100% - 100px); */
	top:82px;
	left:25px;
	z-index: 1;
	color:white;
	font-family: 'Yu Gothic', sans-serif;
	padding-top: 10px;
	box-shadow: 0vh 1vh 4vw 0vw rgba(0, 0, 0, 0.2);
	max-height: calc(100% - 120px);
	background-attachment: scroll;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

#nav {
	overflow-y: auto;
	overflow-x: hidden;
}

.panel {
	/* padding: 10px; */
	margin: 5px;
	flex-basis: 280px;
	flex-grow: 1;
	border-radius: 15px;
	border: var(--lightBorder);
}

.panel > div {
	padding: 15px 10px 5px 10px;
	font-family: 'Palanquin Dark', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.panel > a {
	padding: 7px;
	line-height: 1.4em;
	display: block;
	transition: all 0.3s;
}

.panel > a:hover {
	background-color: rgba(255, 255, 255, 0.171);
	transition: all 0.3s;
}

hr {
	border: 0px solid rgba(255, 255, 255, 0);
	height: 1px;
	margin: 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

#outercontact {
	height: calc(100% - 120px);
	overflow-y: scroll;
}

#outercontact::-webkit-scrollbar {
	width: 5px;
	background: #9cbcfe;
	/*   */
}

/* Track */
#outercontact::-webkit-scrollbar-track {
	/* background: #70d4c8; */
	background-image:         linear-gradient(188deg, #d9bede, #9cbcfe, #70d4c8);
}

.grid-item {
	border: 1px solid red;
	flex-basis: 23vmin;
	flex-grow: 1;
	/* width:30vmin; */
	padding: 10px;
	height:auto;
	/* max-height: 30vh; */
	cursor: pointer;
	align-self: stretch;
	display: grid;
	grid-template-rows: 70% 30%;
	place-items: center;
	border: var(--lightBorder);
	margin: 7px;
	border-radius: 20px;
	transition: all 0.3s;
}

.grid-item:hover {
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

.grid-item > img {
	height: 35%;
	/* width: 60%; */
}

.grid-item > h6 {
	font-family: 'Palanquin Dark SemiBold', sans-serif;
    color: white;
	font-size: 3vmin;
	text-align: center;
	margin: 0px;
}

article {
	
	margin: 200px var(--leftMargin);
	max-width: 1100px;
	/* margin-right: var(--rightMargin); */
}


h4 {
	font-family: 'Palanquin Dark','DM Serif Display', serif;
	border-bottom: 1px solid var(--offBlack);
	padding-bottom: 20px;
	line-height: 1.1em;
	font-size: clamp(2em, calc(0.04 * var(--bodyWidth)), 3em);
	color: var(--offBlack);
}

.ptag, li {
	font-family: 'Karla',sans-serif;
	font-size: 1.1em;
	font-weight: 100;
	letter-spacing: -0.03em;
	line-height: 1.3em;
	margin: 25px 0px;
}


.bold {
	font-weight: bold;
}

.extlink {
	padding: 3px;
	background-color: #fcf4c9;
}

.extlink:hover {
	background-color: var(--hoverColour);
}

blockquote {
	font-family: 'Sorts Mill Goudy', 'Adobe Garamond Pro', serif;
	font-style: italic;
	color: var(--offBlack);
	font-size: 1.1em;
	line-height:1.5em;
	text-align:center;
	/* letter-spacing: 0.5px; */

	width:var(--articlewidth);
	margin: 30px 0px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:min(100px,calc(0.01 * var(--bodyWidth)));
	padding-right:min(100px,calc(0.01 * var(--bodyWidth)));
	background-image: linear-gradient(90deg, #f5f5f5, #ededed, #ededed, #f5f5f5);
}

sup {
	padding: 1px 3px;
}

sup:hover {
	background-color: var(--hoverColour);
	font-weight: bold;
	
}


#buttonHolder > button {
	border-radius: 40px;
    border: none;
    font-family: 'Karla',sans-serif;
    background-color: white;
}

.or {
	font-family: 'Palanquin Dark';
}

.articleSegment {
	background-color: #ffffff;
	padding: 20px;
}


/*

#nav > div > .ptag > a {
	position: relative;
	display: block;
	line-height: 1.2em;
	padding:7px;
}

#nav > div > .ptag > a, .menubar {
	position: relative;
	top:30px;
	left:-7px;
}
*/
/* #nav > div > .ptag > a:hover {
	transition: background-color 0.2s;
	background-color: rgba(255,255,255, 0.1);;
}  */

/*makes it so that when you redirect within this page there's an offset*/
/*
:target:before {
	content:"";
	display:block;
	margin:-35vh 0 0; 
}


strong {
	position: relative;
	top:10px;
	font-family: 'Palanquin Dark', sans-serif;
	font-weight: 200;
	letter-spacing: 0.5px;
} */

/*note that -webkit-,-moz-,-ms-,-o- things are about working on older browsers
flex is there so that you can control the spans individually(?)*/

/* h1 {
	font-family: 'Fugaz One', serif;
	font-weight:300;
	position: absolute;
	transform: rotate(-7.7deg);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: -webkit-linear-gradient(8deg, #d58da3, #fa8567, #fa9551); 
	background-image:    -moz-linear-gradient(8deg, #d58da3, #fa8567, #fa9551); 
	background-image:     -ms-linear-gradient(8deg, #d58da3, #fa8567, #fa9551); 
	background-image:      -o-linear-gradient(8deg, #d58da3, #fa8567, #fa9551);  
	background-image:         linear-gradient(8deg, #d58da3, #fa8567, #fa9551); 
	background-position-y: 1vw;
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	justify-content: flex-start;
	align-items: flex-start;

	font-size: 17.3vw;
	left: -2vw;
	top: calc(270px - 20vw); /*a smaller vw and it will move up as you shrink, a smaller px and it will shift up*/ 
	/*
} */

/* .safari {
	display:none;
} */

#logoimg {
	width:calc(0.53 * var(--bodyWidth));
	position: absolute;
	left: calc(-0.025 * var(--bodyWidth));
	top: calc(250px - calc(0.05 * var(--bodyWidth))); /*a smaller vw and it will move up as you shrink, a smaller px and it will shift up*/
}

/* #secondspan {
	font-size: calc(0.137 * var(--bodyWidth));
	margin-left: calc(-0.01 * var(--bodyWidth));
	margin-top: calc(-0.105 * var(--bodyWidth));
} */

h2 {
	font-family: 'Palanquin Dark', serif;
	font-weight:300;
	position: absolute;
	transform: skew(-5deg) rotate(-5deg);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: -webkit-linear-gradient(50deg, #56c66b, #0c8ab9, #3d6288); 
	background-image:    -moz-linear-gradient(50deg, #56c66b, #0c8ab9, #3d6288); 
	background-image:     -ms-linear-gradient(50deg, #56c66b, #0c8ab9, #3d6288); 
	background-image:      -o-linear-gradient(50deg, #56c66b, #0c8ab9, #3d6288); 
	background-image:         linear-gradient(50deg, #56c66b, #0c8ab9, #3d6288); 
	line-height: 1;
	left:calc(0.59 * var(--bodyWidth));
	top:29vh;
	font-size: calc(0.044 * var(--bodyWidth));
}

/* h3 {
	font-family: 'Palanquin Dark', serif;
	font-size: 4vw;
	color: white;
	top:83vh;
	left:19vw;
	text-align:center;
	position: absolute;
	width: 60vw;
	line-height: 3em;
} */

#home {
	/* position: relative;
	top: 0px; */
	overflow: hidden;
	height: 200%;
	width: var(--bodyWidth);
	/* right: 0px; */
	background-image: -webkit-linear-gradient(189deg, #94d1f8, #e7e7e7, #e4e586,var(--mainBackground), var(--mainBackground));
	background-image:    -moz-linear-gradient(189deg, #94d1f8, #e7e7e7, #e4e586, var(--mainBackground), var(--mainBackground));
	background-image:     -ms-linear-gradient(189deg, #94d1f8, #e7e7e7, #e4e586,var(--mainBackground), var(--mainBackground));
	background-image:      -o-linear-gradient(189deg, #94d1f8, #e7e7e7, #e4e586,var(--mainBackground), var(--mainBackground));
	background-image:         linear-gradient(189deg, #94d1f8, #e7e7e7, #e4e586, var(--mainBackground), var(--mainBackground));
	/* background-position-y: 58px; */
}

/* h4 {
	padding: 0px 0px 10px 0px;
	font-family: 'Vidaloka', serif;
	font-size: 4em;
	font-weight: 200;
	width:70vw;
}

.bold {
	font-weight: 1000;
}

.articlebar {
	height: 1px;
	width: 60vw;
	background-color: black;
	opacity: 0.32;
	position: relative;
	top:-70px;
}

.info > .ptag, li {
	font-family: 'Microsoft Yi Baiti', sans-serif;
	font-size: 1.5em;
	width:calc(var(--articlewidth) + 200px);
	margin-bottom: 30px;
}

.info > .ptag, li, blockquote {
	position: relative;
	top:-30px;
}

.viewport {
	display: none;
	background-attachment: fixed;
	filter: blur(7px);
	position: relative;
	transform: scale(1.00);
	overflow: hidden;
	background-size: cover;
	background-position: center;
	height: 100vh;
	z-index: -1;
}

#img1,#img7,#img13,#img19 {
	background-image: url("images/img1.jpg");
}

#img2,#img8,#img14,#img20 {
	background-image: url("images/img2.jpg");
	background-position-y: 65px;
}

#img3,#img9,#img15,#img21 {
	background-image: url("images/img3.jpg");
}

#img4,#img10,#img16 {
	background-image: url("images/img4.png");
}

#img5,#img11,#img17 {
	background-image: url("images/img5.jpg");
}

#img6,#img12,#img18 {
	background-image: url("images/img6.jpg");
	background-position-y: -1550px;
}

.youtube {
	width:var(--articlewidth);
	height:450px;
}

#greenagenda {
	width:calc(var(--articlewidth) + 200px);
	height:600px;
}



.convener > h4 {
	font-size: 2.5em;
	position: relative;
	top:-20px;

}

.convenertext {
	position: relative;
	font-family: 'Microsoft Yi Baiti', sans-serif;
	font-size: 1.5em;
	width: 400px;
	left:300px;
	top:-300px;
} */
